{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="block-header">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Change Password</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header ch-alt">
            <h2>{% trans "Change Password" %}</h2>
        </div>
        <div class="card-body card-padding">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" name="action" class="btn btn-block btn-primary">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
