{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load i18n %}

{% block title %}Customers{% endblock %}

{% block extra_css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header ch-alt">
        <h2>Customers</h2>

        <ul class="actions">
            <li>
                <a href="{% url 'customers_list' %}" data-toggle="tooltip" data-placement="left" title="View as List"><i class="zmdi zmdi-accounts-list"></i></a>
            </li>
            <li>
                <a class="buttons-tableReload" href="#" data-toggle="tooltip" data-placement="left" title="Refresh"><i class="zmdi zmdi-refresh"></i></a>
            </li>
            <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Columnas">
                <a href="" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-view-week"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="customers" data-cv-idx="0" href="#" data-column="2">Name</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="customers" data-cv-idx="0" href="#" data-column="3">Phone Nummber</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Download">
                <a href="" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-cloud-download"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="buttons-fileExport" aria-controls="customers" data-cv-idx="0" href="#" data-button="0">Copy</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="customers" data-cv-idx="0" href="#" data-button="1">Excel</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="customers" data-cv-idx="0" href="#" data-button="2">CSV</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="customers" data-cv-idx="0" href="#" data-button="3">PDF</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="customers" data-cv-idx="0" href="#" data-button="4">Print</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="card-body table-responsive card-padding">
        <table id="customers" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/v1/common/customer/?format=datatables">
            <thead>
                <tr>
                    <th data-data="name">Name</th>
                    <th data-data="phone_number">Phone number</th>
                    <th data-data="get_absolute_url">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<a class="btn btn-float bgm-green m-btn" href="{% url 'add_customer' %}" data-toggle="tooltip" data-placement="left" title="Add customer"><i class="zmdi zmdi-plus"></i></a>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/datatables.min.js' %}"></script>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        var table = $('#customers').DataTable({
            //dom: 'lBfrtip',
            colReorder: true,
            responsive: true,
            rowReorder: true,
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy',
                    title: 'Customers report',
                    messageTop: '{{ date_start }} - {{ date_end }}',
                    messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Customers report',
                    messageTop: '{{ date_start }} - {{ date_end }}',
                    messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    title: 'Customers report',
                    messageTop: '{{ date_start }} - {{ date_end }}',
                    messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Customers report',
                    messageTop: '{{ date_start }} - {{ date_end }}',
                    messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    text: 'Print',
                    title: 'Customers report',
                    messageTop: '{{ date_start }} - {{ date_end }}',
                    messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
            ],
            language: {
                "decimal":        "",
                "emptyTable":     "No data",
                "info":           "Showing records from _START_ to _END_ of _TOTAL_",
                "infoEmpty":      "Showing records from 0 to 0 of 0",
                "infoFiltered":   "(filtering _MAX_ records)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Show _MENU_ records",
                "loadingRecords": "Loading...",
                "processing":     "Processing...",
                "search":         "Search:",
                "zeroRecords":    "No results found",
                "paginate": {
                    "first":      "<<",
                    "last":       ">>",
                    "next":       ">",
                    "previous":   "<"
                },
                "aria": {
                    "sortAscending":  ": activate to sort ascending",
                    "sortDescending": ": activate to sort descending"
                }
            },
            columnDefs: [{
               searchable: false,
               targets: 5,
               render: function(data, type, full, meta){
                  return '<a class="btn btn-xs btn-block btn-success" target="_blank" href="' + data + '">Edit</a>';
               }
            }]
        });
        
        $('a.buttons-tableReload').on( 'click', function (e) {
            e.preventDefault();
            table.ajax.reload();
        });
        
        $('a.buttons-columnVisibility').on( 'click', function (e) {
            e.preventDefault();
            // Get the column API object
            var column = table.column( $(this).attr('data-column') );
            // Toggle the visibility
            column.visible( ! column.visible() );
        });
        
        $('a.buttons-fileExport').on( 'click', function (e) {
            e.preventDefault();
            var column = table.column( '5' );
            column.visible( false );
            var button_index = String($(this).attr('data-button'));
            console.log(button_index);
            table.button(button_index).trigger();
            column.visible( true );
        });
    });
</script>
{% endblock %}
