{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% include 'title.html' %}{% endblock %}</title>

        <!-- Vendor CSS -->
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{% static 'css/roboto.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">
    </head>
    <body class="four-zero-content">
        {% block content %}{% endblock %}
    </body>
</html>
