{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load i18n %}

{% block title %}Invoices{% endblock %}

{% block extra_css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header ch-alt">
        <h2>Invoices</h2>
        
        <ul class="actions">
            <li data-toggle="tooltip" data-placement="bottom" title="Refresh">
                <a class="buttons-tableReload" href="#"><i class="zmdi zmdi-refresh"></i></a>
            </li>
            <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Columns">
                <a href="" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-view-week"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="0">ID</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="1">Code</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="2">Number</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="3">State</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="4">Date</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="5">Date start</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="6">Date end</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="7">Customer</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="8">Total amount</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="9">Date added</a>
                    </li>
                    <li>
                        <a class="buttons-columnVisibility" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-column="10">Actions</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Download">
                <a href="" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-cloud-download"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="buttons-fileExport" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-button="0">Copy</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-button="1">Excel</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-button="2">CSV</a>
                    </li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-button="3">PDF</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="buttons-fileExport" aria-controls="aerial_exports" data-cv-idx="0" href="#" data-button="4">Print</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="card-body table-responsive card-padding">
        <!-- Render the table skeleton, includes the .datatable class for the on-ready initializer. -->
        {{ datatable }}
    </div>
</div>

<a class="btn btn-float bgm-green m-btn" href="{% url 'add_invoice' %}" data-toggle="tooltip" data-placement="left" title="New Invoice"><i class="zmdi zmdi-plus"></i></a>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.min.js' %}"></script>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $.extend( $.fn.dataTable.defaults, {
        colReorder: true,
        //responsive: true,
        rowReorder: true,
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        order: [[ 0, "desc" ]],
        paging: false,
        buttons: [
            {
                extend: 'copy',
                text: 'Copy',
                title: 'Invoice list',
                messageTop: '{{ date_start }} - {{ date_end }}',
                messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excel',
                title: 'Invoice list',
                messageTop: '{{ date_start }} - {{ date_end }}',
                messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'csv',
                title: 'Invoice list',
                messageTop: '{{ date_start }} - {{ date_end }}',
                messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdf',
                title: 'Invoice list',
                messageTop: '{{ date_start }} - {{ date_end }}',
                messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                text: 'Print',
                title: 'Invoice list',
                messageTop: '{{ date_start }} - {{ date_end }}',
                messageBottom: 'Exported: {% now "SHORT_DATETIME_FORMAT" %}',
                exportOptions: {
                    columns: ':visible'
                }
            }
        ],
        //language: {
            //"decimal":        "",
            //"emptyTable":     "No hay datos",
            //"info":           "Mostrando registros del _START_ al _END_ de _TOTAL_",
            //"infoEmpty":      "Mostrando registros del 0 al 0 de 0",
            //"infoFiltered":   "(filtrado de _MAX_ registros)",
            //"infoPostFix":    "",
            //"thousands":      ",",
            //"lengthMenu":     "Mostrar _MENU_ registros",
            //"loadingRecords": "Cargando...",
            //"processing":     "Procesando...",
            //"search":         "Buscar:",
            //"zeroRecords":    "No se encontraron resultados",
            //"paginate": {
                //"first":      "<<",
                //"last":       ">>",
                //"next":       ">",
                //"previous":   "<"
            //},
            //"aria": {
                //"sortAscending":  ": activar para ordenar ascendente",
                //"sortDescending": ": activar para ordenar descendente"
            //}
        //},
        columnDefs: [
            {
                searchable: false,
                targets: 8
            }
        ]
    } );
    $(function(){
        datatableview.initialize($('.datatable'));
        var table = $('#DataTables_Table_0').DataTable();
    
        $('a.buttons-tableReload').on( 'click', function (e) {
            e.preventDefault();
            table.ajax.reload();
        });
        
        $('a.buttons-columnVisibility').on( 'click', function (e) {
            e.preventDefault();
            // Get the column API object
            var column = table.column( $(this).attr('data-column') );
            // Toggle the visibility
            column.visible( ! column.visible() );
        });
        
        $('a.buttons-fileExport').on( 'click', function (e) {
            e.preventDefault();
            var column = table.column( '10' );
            column.visible( false );
            var button_index = String($(this).attr('data-button'));
            console.log(button_index);
            table.button(button_index).trigger();
            column.visible( true );
        });
    });
</script>
{% endblock %}
