{% extends "base.html" %}

{% load bootstrap3 %}
{% load thumbnail %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker3.min.css" />
{% endblock %}

{% block content %}
    <div class="block-header">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"> Vehicle's list</li>
        </ol>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <form method="get" action=".">
                                    <div class="form-group">
                                        <input type="text" placeholder="Search by truck number" class="form-control" name="q" value="{{ q }}">
                                        {% for key, value in filters.items %}{% if key != 'q' %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endif %}{% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id='tabla' cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <thead>
                                    <tr style="border-style:solid  !important;">
                                        <th class="text-center">Active</th>
                                        <th class="text-center">Truck Number</th>
                                        <th class="text-center">Driver</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for vehicle in vehicles %}
                                    <tr style="border-style:solid  !important;">
                                        <td class="text-center">{% if vehicle.active %} Active {% else %} No Active {% endif %}</td>
                                        <td class="text-center">{{ vehicle.truck_number }}</td>
                                        <td class="text-center">{{ vehicle.driver }}</td>
                                        <td class="text-center">
{#                                            {% if user.userprofile.farmacias_tramitador %}#}
                                            <a href="{% url 'edit_vehicle' vehicle.pk %}" class="btn btn-sm btn-icon btn-primary" title="Edit vehicle"><span class="zmdi zmdi-edit zmdi-hc-fw"></span></a>
{#                                            <a href="{% url 'add_order' vehicle.pk %}" class="btn btn-sm btn-block btn-success" title="Add order"><span class="zmdi zmdi-plus zmdi-hc-fw"></span> Nuevo registro</a>#}
{#                                            {% endif %}#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-footer">
                                {% if vehicles %}
                                    <!-- Pagination -->
                                    <ul class="pagination lv-pagination">
                                    {% if vehicles.has_previous %}
                                        <li>
                                            <a href="?page={{ vehicles.previous_page_number }}{% for key, value in filters.items %}{% if value %}&{{ key }}={% if value.pk %}{{ value.pk }}{% else %}{{ value }}{% endif %}{% endif %}{% endfor %}" aria-label="Back">
                                                <i class="zmdi zmdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for the_number in vehicles.paginator.page_range %}
                                        <li{% if the_number == vehicles.number %} class="active"{% endif %}><a href="?page={{ the_number }}{% for key, value in filters.items %}{% if value %}&{{ key }}={% if value.pk %}{{ value.pk }}{% else %}{{ value }}{% endif %}{% endif %}{% endfor %}">{{ the_number }}</a></li>
                                    {% endfor %}
                                    {% if vehicles.has_next %}
                                        <li>
                                            <a href="?page={{ vehicles.next_page_number }}{% for key, value in filters.items %}{% if value %}&{{ key }}={% if value.pk %}{{ value.pk }}{% else %}{{ value }}{% endif %}{% endif %}{% endfor %}" aria-label="Next">
                                                <i class="zmdi zmdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    <!-- End Pagination -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a href="{% url 'add_vehicle' %}" class="btn btn-float btn-primary m-btn" data-placement="left" title="Add vehicle"><i class="zmdi zmdi-plus"></i></a>
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.min.js"></script>
    <!--
<script src="{{ STATIC_URL }}js/table2CSV.js"></script>
-->

    <script>
        $('.datepicker').datepicker();

    </script>
{% endblock %}
